/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
	--background-color: #fff;
	--accent-color: #000000;
	--button-difference: #fff;
	--main-weight: 400;
	--title-weight: 700;
	--text-color: #000000;
	--color-heart-contour: #000;
	--color-hover-heart: #000;
	--gradient-background: #d3d3d3;
	--gradient-first: #e7e7e7;
	--gradient-second: #1a1a1a;
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color: #fff;
		--accent-color: #000000;
		--button-difference: #fff;
		--main-weight: 400;
		--title-weight: 700;
		--text-color: #000000;
		--color-heart-contour: #000;
		--color-hover-heart: #000;
		--gradient-background: #d3d3d3;
		--gradient-first: #e7e7e7;
		--gradient-second: #1a1a1a;
	}
}

:root.theme-dark {
	--background-color: #000000;
	--accent-color: #00cc14;
	--button-difference: #00cc14;
	--text-color: #00cc14;
	--main-weight: 465;
	--title-weight: 785;
	--color-heart-contour: #00cc14;
	--color-hover-heart: #00cc14;
	--gradient-background: #000;
	--gradient-first: #007f0c;
	--gradient-second: #004306;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #000000;
		--accent-color: #00cc14;
		--button-difference: #00cc14;
		--main-weight: 465;
		--title-weight: 785;
		--text-color: #00cc14;
		--color-heart-contour: #00cc14;
		--color-hover-heart: #00cc14;
		--gradient-background: #000;
		--gradient-first: #007f0c;
		--gradient-second: #004306;
	}
}
